<% content_for :title do %>Docker Tweets<% end %>
    <h1 style="color:#0099CC">Docker Tweets Dashboard</h1>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #docker"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
  <center><div style="font-size: 12px"></div></center>
</div>